body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

/* Estilo do Header */
header {
    margin:0;
    text-align: center;
    padding: 20px;
    background-color: #e0f7fa;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

header h1 {
    color: #00796b;
    font-size: 32px;
    margin: 0;
}

header p {
    color: #004d40;
    font-size: 16px;
}

/* Estilo dos elementos de entrada */
input[type="file"], select, button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Estilo dos elementos quando são passados por cima */
input[type="file"]:hover, select:hover, button:hover {
    background-color: #00796b;
    color: #fff;
    border-color: #00796b;
}

/* Botão */
button {
    cursor: pointer;
    background-color: #00796b;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

/* Estilo para o botão do input file */
.file-input-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background-color: #00796b;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-input-container:hover {
    background-color: #004d40;
}

.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* Estilo para a imagem convertida */
#convertedImage {
    max-width: 300px;  /* Limita a largura da imagem a 300px */
    height: auto;      /* Mantém a proporção da imagem */
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;  /* Centraliza a imagem */
}

/* Estilo para o ícone de imagem */
#imageIcon {
    font-size: 50px;
    color: #ddd;
    margin-top: 20px;
}

/* Estilo do footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #e0f7fa;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}

footer p {
    color: #004d40;
    font-size: 14px;
}
